<section class="pt-4">
  <header class="px-4 lg:px-6 h-14 flex items-center">
    <a class="flex items-center justify-center" href="#">
      <img src="assets/logo-color.png" alt="Lost&Found" class="h-8 w-auto" />
      <span class="sr-only">Lost and Found</span>
    </a>
    <nav class="ml-auto flex gap-4 sm:gap-6">
      <a
        class="text-sm font-medium hover:underline underline-offset-4"
        [routerLink]="['/about']"
      >
        About Us
      </a>
      <a
        [routerLink]="['/auth/login']"
        class="text-sm font-medium hover:underline underline-offset-4"
      >
        Login
      </a>
    </nav>
  </header>

  <main>
    <div class="py-16 bg-transparent">
      <div class="container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
        <div
          class="space-y-6 md:space-y-0 md:flex md:gap-6 lg:items-center lg:gap-12"
        >
          <div class="md:5/12 lg:w-5/12">
            <img
              src="assets/about.png"
              alt="image"
              loading="lazy"
              width=""
              height=""
            />
          </div>
          <div class="md:7/12 lg:w-6/12">
            <h2 class="text-2xl text-gray-900 font-bold md:text-4xl">
              About Us
            </h2>
            <p class="mt-6 text-gray-600">
              Lost&Found is a platform that helps people find their lost items
              in a more efficient way. We are a team of developers who are
              passionate about helping people find their lost items. We believe
              that technology can be used to solve real-world problems, and we
              are committed to making the world a better place.
            </p>
            <p class="mt-6 text-gray-600">
              Our platform allows users to report lost items and search for
              items that have been found. Users can also scan QR codes on lost
              items to view information about the item and contact the owner. We
              are constantly working to improve our platform and make it more
              user-friendly. We are also working on adding new features to make
              it easier for users to find their lost items.
            </p>
            <p class="mt-6 text-gray-600">
              If you have any questions or feedback, please feel free to contact
              us. We are always happy to hear from our users and improve our
              platform based on their feedback.
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</section>

<section>
  <!-- component -->
  <section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
    <div class="text-center pb-12">
      <h2 class="text-base font-bold text-indigo-600">
        We have the best equipment
      </h2>
      <h1
        class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-gray-900"
      >
        Check our awesome team members
      </h1>
    </div>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6"
    >
      <div
        class="w-full bg-white rounded-lg p-12 flex flex-col justify-center items-center"
      >
        <div class="mb-8">
          <img
            class="object-center object-cover rounded-full h-36 w-36"
            src="https://w7.pngwing.com/pngs/129/292/png-transparent-female-avatar-girl-face-woman-user-flat-classy-users-icon.png"
            alt="photo"
          />
        </div>
        <div class="text-center">
          <p class="text-xl text-gray-700 font-bold mb-2">Amna KOUKI</p>
          <p class="text-base text-gray-400 font-normal">Software Engineer</p>
        </div>
      </div>
      <div
        class="w-full bg-white rounded-lg p-12 flex flex-col justify-center items-center"
      >
        <div class="mb-8">
          <img
            class="object-center object-cover rounded-full h-36 w-36"
            src="https://w7.pngwing.com/pngs/129/292/png-transparent-female-avatar-girl-face-woman-user-flat-classy-users-icon.png"
            alt="photo"
          />
        </div>
        <div class="text-center">
          <p class="text-xl text-gray-700 font-bold mb-2">Oumaima Ouelhazi</p>
          <p class="text-base text-gray-400 font-normal">Software Engineer</p>
        </div>
      </div>
      <div
        class="w-full bg-white rounded-lg p-12 flex flex-col justify-center items-center"
      >
        <div class="mb-8">
          <img
            class="object-center object-cover rounded-full h-36 w-36"
            src="https://w7.pngwing.com/pngs/129/292/png-transparent-female-avatar-girl-face-woman-user-flat-classy-users-icon.png"
            alt="photo"
          />
        </div>
        <div class="text-center">
          <p class="text-xl text-gray-700 font-bold mb-2">Haifa Rajhi</p>
          <p class="text-base text-gray-400 font-normal">Software Engineer</p>
        </div>
      </div>
    </div>
  </section>
</section>

<footer class="footer footer-center w-full p-10 bg-transparent text-gray-400">
  <div class="text-center">
    <p>
      Copyright © 2024 -
      <a class="font-semibold">Lost&Found</a>
    </p>
  </div>
</footer>
